CvGameCoreDLL/.vs
CvGameCoreDLL/Boost-1.32.0
CvGameCoreDLL/Debug
CvGameCoreDLL/obj
CvGameCoreDLL/Python24
CvGameCoreDLL/temp_files
CvGameCoreDLL/AdvCiv.opensdf
CvGameCoreDLL/AdvCiv.sdf
CvGameCoreDLL/AdvCiv.vcxproj.user
*.bak